.task-list {
  display: flex;
  flex-direction: column;
}

.task-item {
  background: rgb(11, 88, 229);
  display: flex;
  height: 8vh;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.task-item-red {
  background: rgb(186, 73, 73);
}

.task-item-yellow {
  background: rgb(164, 137, 60);
}

.task-times {
  width: 30%;
  border-right: 4px solid white;
}

.task-item-events {
  width: 20%;

  display: flex;
  justify-content: center;
  /* margin-right: 10px; */
}

.task-item-line {
  height: 40px;
  border-left: 5px solid white;
}

.task-item-info {
  width: 50%;
  /* margin-left: 5px; */
  display: flex;
}

.task-item-info-text {
  margin-left: 5px;
  word-break: break-all;
  color: white;
}

.time-text {
  margin-left: 10px;
  color: white;
}

.icon-imagebutton {
  height: 30px;
  width: 30px;
  margin: 5px;

  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(26%) hue-rotate(34deg)
    brightness(107%) contrast(105%);
}

.error-message {
  color: red;
}




.tasks {
  /* background: green; */
  overflow: auto;
  height: 50%;
}
